
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero{

    background-image: url('images/img2.jpg');
    height: 300px;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color:gold;

}

.project{
    
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}

.project-item{

    float: left;
    width:32%;
    border: 1px solid blue;
    margin-left: 10px;
    margin-bottom:10px;
    height: 300px;
}